/*
html5doctor.com Reset css
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  width: 100vw;
  font-family: "Noto Sans JP", serif;
  color: #333;
}

img {
  vertical-align: bottom;
  width: 100%;
}

.noscroll {
  overflow: hidden;
}

.sp-br {
  display: none;
}

.container {
  max-width: 1022px;
  width: 75%;
  margin: 0 auto;
}

.blog-container {
  max-width: 1227px;
  width: 90%;
  margin: 0 auto;
}

.section-title {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.34375;
  letter-spacing: 0px;
  text-align: center;
  padding-bottom: 14px;
}

.section-subtitle {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.3125;
  letter-spacing: 0px;
  text-align: center;
  color: #3BA6C9;
  margin-bottom: 60px;
}

.btn {
  color: #fff;
  font-family: "Noto Sans JP", serif;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.35714;
  letter-spacing: 0px;
  background: -webkit-gradient(linear, left top, right top, from(#FA41CC), to(#6020B0));
  background: linear-gradient(90deg, #FA41CC, #6020B0);
  padding: 8px 39px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  border: none;
  text-decoration: none;
}

@media screen and (max-width: 1021px) {
  .pc-br {
    display: none;
  }
  .sp-br {
    display: inline;
  }
  .section-title {
    font-size: 2.5rem;
  }
  .section-subtitle {
    font-size: 1.4rem;
    margin-bottom: 40px;
  }
}

header {
  width: 100%;
  height: 94px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: fixed;
  top: 0;
  z-index: 10;
}

header .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .header-logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

header .container .header-logo .logo-image {
  width: 47px;
  height: 47px;
}

header .container .header-logo h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.33333;
  letter-spacing: 0px;
  margin-left: 16px;
}

header .container nav ul {
  width: 245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container nav ul li a {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.3125;
  letter-spacing: 0px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

header .container .btn {
  margin-right: 20px;
}

header .container .toggle-btn {
  display: none;
}

footer {
  height: 244px;
}

footer h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.16667;
  letter-spacing: 0px;
  color: #333;
  padding-top: 45px;
  margin-bottom: 24px;
  text-align: center;
}

footer .policy {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.75;
  letter-spacing: 0px;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .policy p:nth-child(1) {
  margin-right: 68px;
}

footer small {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.35714;
  letter-spacing: 0px;
  color: #333;
  display: block;
  text-align: center;
  margin-top: 54px;
  margin-bottom: 49px;
}

@media screen and (max-width: 1021px) {
  header {
    width: 100vw;
    height: 60px;
  }
  header .container {
    width: 90%;
  }
  header .container .header-logo .logo-image {
    width: 35px;
    height: 35px;
  }
  header .container .header-logo h1 {
    font-size: 2rem;
  }
  header .container nav {
    display: none;
  }
  header .container .btn {
    display: none;
  }
  header .container .toggle_btn {
    display: block;
    position: relative;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    -webkit-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
    z-index: 3;
  }
  header .container .toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  header .container .toggle_btn span:nth-child(1) {
    top: 4px;
  }
  header .container .toggle_btn span:nth-child(2) {
    top: 14px;
  }
  header .container .toggle_btn span:nth-child(3) {
    bottom: 4px;
  }
  header .open nav {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    background-color: #696969;
    width: 100vw;
    height: 100vh;
  }
  header .open nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 200px;
    margin: calc(50vh - 61px) auto;
  }
  header .open nav ul li {
    display: block;
    text-align: center;
  }
  header .open nav ul li:nth-child(2) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  header .open nav ul li a {
    font-size: 2rem;
    color: #fff;
  }
  header .open .toggle_btn span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
            transform: translateY(10px) rotate(-315deg);
  }
  header .open .toggle_btn span:nth-child(2) {
    opacity: 0;
  }
  header .open .toggle_btn span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
            transform: translateY(-10px) rotate(315deg);
  }
  footer {
    height: 180px;
  }
  footer h1 {
    padding-top: 25px;
    font-size: 2rem;
  }
  footer .policy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .policy p {
    text-align: center;
    font-size: 1.2rem;
  }
  footer .policy p:nth-child(1) {
    margin: 0;
  }
  footer small {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 1rem;
  }
}

.fv {
  position: relative;
  height: 674px;
  width: 100vw;
  margin-bottom: 73px;
}

.fv .fv-bg {
  width: 708px;
  height: 711px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  overflow: hidden;
}

.fv .fv-bg-img {
  position: absolute;
  top: -124px;
  right: -88px;
}

.fv .fv-img {
  width: 518px;
  height: 430px;
}

.fv .fv-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 131px;
  max-width: 1022px;
  width: 100%;
  margin: 0 auto;
  margin-top: 94px;
}

.fv .fv-content .fv-text {
  padding-left: 20px;
  padding-top: 30px;
}

.fv .fv-content .fv-text h1 {
  width: 370px;
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.34375;
  letter-spacing: 0px;
}

.fv .fv-content .fv-text p {
  width: 260px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.3125;
  letter-spacing: 0px;
  margin-top: 53px;
  margin-bottom: 55px;
}

@media screen and (max-width: 1021px) {
  .fv {
    height: 900px;
  }
  .fv .fv-content {
    padding-top: 40px;
    display: block;
    margin-top: 60px;
  }
  .fv .fv-content .fv-text {
    max-width: 370px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-left: 0;
  }
  .fv .fv-content .fv-text h1, .fv .fv-content .fv-text p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .fv .fv-content .fv-text h1 {
    font-size: 2.3rem;
    max-width: 370px;
    width: 90%;
  }
  .fv .fv-content .fv-text .btn {
    margin-left: calc(50% - 81px);
  }
  .fv .fv-content .fv-img {
    margin: 0 auto;
    max-width: 518px;
    width: 80%;
    max-height: 430px;
  }
}

.feature h2 {
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.32143;
  letter-spacing: 0px;
  text-align: center;
}

.feature .f-title01 {
  margin-bottom: 50px;
}

.feature .f-title02 {
  margin-top: 88px;
  margin-bottom: 60px;
}

.feature .f-title03 {
  margin-top: 138px;
  margin-bottom: 63px;
}

.feature .flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.feature .feature-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature .feature-content .feature-img01 {
  width: 380px;
  height: 314px;
}

.feature .feature-content .feature-img02 {
  width: 479px;
  height: 329px;
}

.feature .feature-content .feature-img03 {
  width: 400px;
  height: 290px;
}

.feature .feature-content .feature-text h3 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0px;
}

.feature .feature-content .feature-text p {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.625;
  letter-spacing: 0px;
}

.feature .feature-content .ft-01 {
  padding-top: 49px;
}

.feature .feature-content .ft-01 h3 {
  width: 505px;
  padding-bottom: 48px;
}

.feature .feature-content .ft-01 p {
  width: 450px;
}

.feature .feature-content .ft-02 {
  padding-top: 4px;
}

.feature .feature-content .ft-02 h3 {
  width: 335px;
  padding-bottom: 43px;
}

.feature .feature-content .ft-02 p {
  width: 450px;
}

.feature .feature-content .ft-03 {
  padding-top: 22px;
  margin-bottom: 155px;
}

.feature .feature-content .ft-03 h3 {
  width: 350px;
  padding-bottom: 36px;
}

.feature .feature-content .ft-03 p {
  width: 420px;
}

@media screen and (max-width: 1021px) {
  .feature .f-title {
    font-size: 2.2rem;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .feature .feature-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 50px;
  }
  .feature .feature-content .f-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 70%;
    height: auto;
    margin: 0 auto;
  }
  .feature .feature-content .ft-01 {
    width: 95%;
  }
  .feature .feature-content .ft-01 h3, .feature .feature-content .ft-01 p {
    width: 100%;
  }
  .feature .feature-content .ft-02 {
    width: 95%;
  }
  .feature .feature-content .ft-02 h3, .feature .feature-content .ft-02 p {
    width: 100%;
  }
  .feature .feature-content .ft-03 {
    width: 95%;
  }
  .feature .feature-content .ft-03 h3, .feature .feature-content .ft-03 p {
    width: 100%;
  }
  .feature .feature-content .feature-text {
    padding-top: 0;
    margin: 0 auto 40px;
    text-align: center;
  }
  .feature .feature-content .feature-text h3 {
    font-size: 1.8rem;
    margin: 0 auto;
  }
  .feature .feature-content .feature-text p {
    font-size: 1.2rem;
    margin: 0 auto;
  }
}

.bg-price {
  background-color: #EEFBFB;
  height: 744px;
}

.bg-price .section-title {
  padding-top: 57px;
}

.bg-price .section-subtitle {
  margin-bottom: 71px;
}

.bg-price table {
  width: 67.7%;
  height: 410px;
  background: #fff;
  border-collapse: collapse;
  margin: 0 auto;
}

.bg-price table tr, .bg-price table td {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.75;
  letter-spacing: 0px;
  border: 1px solid #E5E5E5;
}

.bg-price table tr td {
  color: #333;
}

.bg-price table tr .price-menu {
  width: 289.5px;
  padding-top: 37px;
  padding-left: 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg-price table tr .price-value {
  padding-left: 30.5px;
}

.bg-price .annotation {
  text-align: center;
  padding-top: 38px;
  padding-bottom: 69px;
}

@media screen and (max-width: 1021px) {
  .bg-price table {
    width: 95%;
    max-width: 710px;
  }
  .bg-price table td, .bg-price table tr {
    font-size: 1.2rem;
  }
  .bg-price table tr .price-menu {
    padding-left: 10px;
    width: 200px;
  }
  .bg-price table tr .price-value {
    padding-left: 10px;
  }
  .bg-price .annotation {
    font-size: 1.2rem;
  }
}

.faq .section-title {
  margin-top: 57px;
}

.faq .section-subtitle {
  margin-bottom: 33px;
}

.faq-list {
  max-width: 907px;
  width: 100%;
  height: 410px;
  list-style: none;
  display: block;
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.85714;
  letter-spacing: 0px;
  margin-bottom: 86px;
}

.faq-list .faq-item .faq-item-link {
  color: #333;
  text-align: center;
  height: 58px;
  display: block;
  border: 1px solid #E5E5E5;
  padding-top: 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  position: relative;
}

.faq-list .faq-item .faq-item-link .sp-br {
  display: none;
}

.faq-list .faq-item .faq-item-link::after {
  font-size: 1.4rem;
  line-height: 15px;
  content: '\f067';
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 50%;
  right: 40px;
  margin-top: -0.75rem;
}

.faq-list .faq-item .faq-item-link.on::after {
  content: '\f068';
}

.faq-list .faq-item .answer {
  color: #444;
  background-color: #F2F2F2;
  border: 1px solid #E5E5E5;
  padding-left: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
}

.faq-list .faq-item .ans-1 {
  height: 93px;
  padding-top: 18px;
  display: block;
}

.faq-list .faq-item .ans-2 {
  height: 70px;
  padding-top: 24px;
}

.faq-list .faq-item .ans-3 {
  height: 96px;
  padding-top: 25px;
}

@media screen and (max-width: 1021px) {
  .faq {
    max-height: 700px;
    height: auto;
    width: 90%;
  }
  .faq .faq-list {
    font-size: 1rem;
  }
  .faq .faq-list .faq-item .faq-item-link {
    padding: 3vw 2vw;
    height: auto;
  }
  .faq .faq-list .faq-item .answer {
    height: auto;
  }
  .faq .faq-list .faq-item .answer .pc-br {
    display: none;
  }
  .faq .faq-list .faq-item .ans-1 {
    padding: 2vw 3vw;
  }
  .faq .faq-list .faq-item .ans-2 {
    padding: 2vw 3vw;
  }
  .faq .faq-list .faq-item .ans-3 {
    padding: 2vw 3vw;
  }
}

@media screen and (max-width: 767px) {
  .faq .faq-list .faq-item .faq-item-link .sp-br {
    display: inline;
  }
  .faq .faq-list .faq-item .faq-item-link::after {
    right: 10px;
  }
}

.bg-blog {
  height: 668px;
  background-color: #EEFBFB;
}

.bg-blog .section-title {
  padding-top: 57px;
}

.bg-blog .section-subtitle {
  margin-bottom: 55px;
}

.bg-blog .blog-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-blog .blog-contents .blog-content {
  width: 389px;
  max-height: 387px;
  height: auto;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.bg-blog .blog-contents .blog-content:nth-child(2) {
  margin: 0 30px;
}

.bg-blog .blog-contents .blog-content a {
  text-decoration: none;
}

.bg-blog .blog-contents .blog-content a .blog-img {
  width: 100%;
  max-height: 260px;
}

.bg-blog .blog-contents .blog-content a .blog-text {
  color: #333;
  background-color: #fff;
  height: 127px;
  padding-top: 16px;
  padding-left: 18px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg-blog .blog-contents .blog-content a .blog-text > p {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.44444;
  letter-spacing: 0px;
}

.bg-blog .blog-contents .blog-content a .blog-text .date {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.625;
  letter-spacing: 0px;
  position: absolute;
  bottom: 11px;
  right: 36px;
  color: #444;
}

@media screen and (max-width: 1021px) {
  .bg-blog {
    height: 1500px;
  }
  .bg-blog .pc-br {
    display: none;
  }
  .bg-blog .section-subtitle {
    margin-bottom: 0;
    padding-bottom: 25px;
  }
  .bg-blog .blog-contents {
    height: 1300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
  .bg-blog .blog-contents .blog-content {
    margin: 0 auto 30px;
  }
  .bg-blog .blog-contents .blog-content:nth-child(2) {
    margin: 0 auto 30px;
  }
}

@media screen and (max-width: 767px) {
  .bg-blog {
    height: auto;
  }
  .bg-blog .blog-contents {
    height: auto;
    padding-bottom: 30px;
  }
  .bg-blog .blog-contents .blog-content {
    max-width: 389px;
    width: 95%;
    max-height: 387px;
    height: auto;
  }
  .bg-blog .blog-contents .blog-content a .blog-text {
    padding-bottom: 16px;
  }
  .bg-blog .blog-contents .blog-content a .blog-text p {
    font-size: 1.4rem;
  }
}

.works-wrapper .section-title {
  padding-top: 57px;
}

.works-wrapper .section-subtitle {
  padding-bottom: 9px;
}

.works-wrapper .swiper-container {
  padding-bottom: 90px;
}

.works-wrapper .swiper-container .swiper-wrapper .swiper-slide {
  border: 1px solid #DDDDDD;
  z-index: 5;
}

.works-wrapper .swiper-container .swiper-wrapper .swiper-slide .works-img {
  width: 100%;
}

.works-wrapper .swiper-container .swiper-wrapper .swiper-slide .works-text {
  height: 196px;
}

.works-wrapper .swiper-container .swiper-wrapper .swiper-slide .works-text > p {
  padding-top: 21px;
  padding-left: 18px;
}

.works-wrapper .swiper-container .swiper-wrapper .swiper-slide .works-text .works-bottom {
  padding-top: 35px;
}

@media screen and (max-width: 1021px) {
  .works-wrapper .swiper-container .swiper-wrapper .swiper-slide .works-text > p {
    font-size: 1.3rem;
    padding-left: 5px;
  }
}

.contact-wrapper {
  height: 1027px;
  background: -webkit-gradient(linear, left top, right top, from(#05A5FA), color-stop(100%, #63FBD7), to(#67FFD6));
  background: linear-gradient(90deg, #05A5FA 0%, #63FBD7 100%, #67FFD6 100%);
}

.contact-wrapper .section-title {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 0.875;
  letter-spacing: 0px;
  color: #fff;
  padding-top: 65px;
}

.contact-wrapper .section-subtitle {
  color: #fff;
  margin-bottom: 39px;
}

.contact-wrapper .message {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.3125;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
}

.contact-wrapper .container {
  height: 689px;
  width: 908px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.contact-wrapper .container .form-list {
  list-style: none;
}

.contact-wrapper .container .form-list .form-item {
  margin-left: 63px;
}

.contact-wrapper .container .form-list .form-item .form-item-title {
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.625;
  letter-spacing: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 21px;
}

.contact-wrapper .container .form-list .form-item .form-item-title .mandatory {
  width: 60px;
  height: 30px;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.85714;
  letter-spacing: 0px;
  background-color: #0C449B;
  border-radius: 10px;
  margin-bottom: 35px;
}

.contact-wrapper .container .form-list .form-item .title-name {
  padding-top: 36px;
  padding-bottom: 40px;
}

.contact-wrapper .container .form-list .form-item .title-name > p {
  margin-right: 26px;
}

.contact-wrapper .container .form-list .form-item .title-mail {
  margin-top: 29px;
  padding-bottom: 40px;
}

.contact-wrapper .container .form-list .form-item .title-mail > p {
  margin-right: 48px;
}

.contact-wrapper .container .form-list .form-item .title-contact {
  margin-top: 23px;
  padding-bottom: 40px;
}

.contact-wrapper .container .form-list .form-item .title-contact > p {
  margin-right: 32px;
}

.contact-wrapper .container .form-list .form-item input {
  width: 499px;
  height: 43px;
  background-color: #EEFBFB;
  border: none;
  border-radius: 3px;
}

.contact-wrapper .container .form-list .form-item textarea {
  width: 783px;
  height: 179px;
  background-color: #eefbfb;
  border: none;
  border-radius: 3px;
  resize: none;
}

.contact-wrapper .container .privacy-policy {
  color: #333;
  height: 21px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.75;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 29px;
  margin-bottom: 31px;
}

.contact-wrapper .container .submit-btn {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.contact-wrapper .container .end-message {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.75;
  letter-spacing: 0px;
  text-align: center;
  display: none;
}

@media screen and (max-width: 1021px) {
  .contact-wrapper .section-title {
    font-size: 2.5rem;
  }
  .contact-wrapper .container {
    width: calc(100% - 4vw);
  }
  .contact-wrapper .container .form-list .form-item {
    margin-left: 31px;
  }
  .contact-wrapper .container .form-list .form-item .input-text, .contact-wrapper .container .form-list .form-item .textarea {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */